<!DOCTYPE html>
<html>
<head>
	<title>Register for Movie Ratings</title>
</head>
<body>

 	{% if registered %}
 		<strong>Thank you for registering!</strong>
 		<a href="{% url 'ratings:index' %}">Return to the homepage</a>

 	{% else %}
 		<strong>Register here!</strong>

		<form action="{% url 'ratings:register' %}" id="user_form" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ user_form.as_p }}
			<input type="submit" value="Register!">
		</form>
	
	{% endif %}

</body>
</html>