{% extends 'ratings/base.html' %}

{% block content %}

{% if custom_reviewer_list %}

	<ul>
		{% for reviewer in custom_reviewer_list %}
			{% if reviewer.username %}
				<li>
					<a href="{% url 'ratings:user_details' reviewer.id %}">User {{ reviewer.id }}</a> Username: {{ reviewer.username }}
				</li>
			{% else %}
				<li>
					<a href="{% url 'ratings:user_details' reviewer.id %}">User {{ reviewer.id }}</a> Age: {{ reviewer.age }}, Zipcode: {{ reviewer.zipcode }}
				</li>
			{% endif %}
		{% endfor %}
	</ul>

{% endif %}

{% endblock %}
